.editprofile-background {
  margin-top: 70px;
}

.editprofile-form {
  z-index: 99;
  width: 40vw;
  padding: 20px 40px;
  opacity: 0.95;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  h2 {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .editprofile-form {
    width: 100vw;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .editprofile-form {
    font-size: 90%;
  }
}
