.resto-container {
  width: 90vw;
  margin: 10px auto;
}

.info-box {
  background-color: white;
  padding: 15px 20px;
  h1, h2 {
    margin: 10px 0px;
  }
}

.box-divider {
  margin: 20px auto;
}

.box-shadow {
  box-shadow: 0px 2px 3px 1px rgba(50,50,50,0.3);
}
