.signup-background {
  background-image: url('signup_background.jpg');
  background-size: cover;
}

.signup-form {
  z-index: 99;
  opacity: 0.9;
  width: 35vw;
  padding: 20px 40px;
  background-color: rgb(250, 250, 250);
  h2 {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
  }
}
