<% if @admin %>
  <h1>Admin Panel</h1>
  <h2>Welcome Admin! Here are your options:</h2>
  <ul>
    <li>
      <%= link_to new_restaurant_path do %>
        <p>Add a restaurant</p>
      <% end %>
    </li>
  </ul>
<% else %>
  <h1>My Profile</h1>
  <h2>My Favourite Asian Restaurants in MTL:</h2>
<% end %>
